<p id="notice"><%= notice %></p>

<p>
  <strong>Deliver to:</strong>
  <%= @tooling.deliver_to %>
</p>

<p>
  <strong>Part type:</strong>
  <%= @tooling.part_type %>
</p>

<p>
  <strong>Part level:</strong>
  <%= @tooling.part_level %>
</p>

<p>
  <strong>Commodity:</strong>
  <%= @tooling.commodity %>
</p>

<p>
  <strong>Tool source:</strong>
  <%= @tooling.tool_source %>
</p>

<p>
  <strong>Go1 go2 lt:</strong>
  <%= @tooling.go1_go2_lt %>
</p>

<p>
  <strong>Go2 t1 lt:</strong>
  <%= @tooling.go2_t1_lt %>
</p>

<p>
  <strong>T1 t2 lt:</strong>
  <%= @tooling.t1_t2_lt %>
</p>

<p>
  <strong>T2 t3 lt:</strong>
  <%= @tooling.t2_t3_lt %>
</p>

<p>
  <strong>T3 t4 lt:</strong>
  <%= @tooling.t3_t4_lt %>
</p>

<p>
  <strong>T4 linetry lt:</strong>
  <%= @tooling.t4_linetry_lt %>
</p>

<p>
  <strong>Raw material lt:</strong>
  <%= @tooling.raw_material_lt %>
</p>

<p>
  <strong>Go1 1 target:</strong>
  <%= @tooling.go1_1_target %>
</p>

<p>
  <strong>Go1 1 actual:</strong>
  <%= @tooling.go1_1_actual %>
</p>

<p>
  <strong>Go1 1 design target:</strong>
  <%= @tooling.go1_1_design_target %>
</p>

<p>
  <strong>Go1 1 correlated:</strong>
  <%= @tooling.go1_1_correlated %>
</p>

<p>
  <strong>Go1 2 target:</strong>
  <%= @tooling.go1_2_target %>
</p>

<p>
  <strong>Go1 2 actual:</strong>
  <%= @tooling.go1_2_actual %>
</p>

<p>
  <strong>Go2 1 actual:</strong>
  <%= @tooling.go2_1_actual %>
</p>

<p>
  <strong>Go2 2 target:</strong>
  <%= @tooling.go2_2_target %>
</p>

<p>
  <strong>Go2 2 actual:</strong>
  <%= @tooling.go2_2_actual %>
</p>

<p>
  <strong>Go2 2 design target:</strong>
  <%= @tooling.go2_2_design_target %>
</p>

<p>
  <strong>Go2 2 correlated:</strong>
  <%= @tooling.go2_2_correlated %>
</p>

<p>
  <strong>Go2 3 actual:</strong>
  <%= @tooling.go2_3_actual %>
</p>

<p>
  <strong>Go1 1 design number:</strong>
  <%= @tooling.go1_1_design_number %>
</p>

<p>
  <strong>Go1 2 design number:</strong>
  <%= @tooling.go1_2_design_number %>
</p>

<p>
  <strong>Go2 1 design number:</strong>
  <%= @tooling.go2_1_design_number %>
</p>

<p>
  <strong>Go2 2 design number:</strong>
  <%= @tooling.go2_2_design_number %>
</p>

<p>
  <strong>Go2 3 design change:</strong>
  <%= @tooling.go2_3_design_change %>
</p>

<%= link_to 'Edit', edit_tooling_path(@tooling) %> |
<%= link_to 'Back', toolings_path %>
