<p id="notice"><%= notice %></p>

<h1>Maker Layouts</h1>

<table>
  <thead>
    <tr>
      <th>Supplier number</th>
      <th>Location code</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @maker_layouts.each do |maker_layout| %>
      <tr>
        <td><%= maker_layout.supplier_number %></td>
        <td><%= maker_layout.location_code %></td>
        <td><%= maker_layout.address %></td>
        <td><%= maker_layout.city %></td>
        <td><%= maker_layout.state %></td>
        <td><%= maker_layout.country %></td>
        <td><%= link_to 'Show', maker_layout %></td>
        <td><%= link_to 'Edit', edit_maker_layout_path(maker_layout) %></td>
        <td><%= link_to 'Destroy', maker_layout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Maker Layout', new_maker_layout_path %>
