<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<table>
  <thead>
    <tr>
      <th>Plant</th>
      <th>Project code</th>
      <th>Model year</th>
      <th>Family code</th>
      <th>Model code</th>
      <th>Multiple dev flow</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.plant_id %></td>
        <td><%= project.project_code %></td>
        <td><%= project.model_year %></td>
        <td><%= project.family_code %></td>
        <td><%= project.model_code %></td>
        <td><%= project.multiple_dev_flow %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
